.#{$className}--popup {
	padding: 0;

	.#{$className}--container {
		font-family: "Lato", sans-serif;

		.form-body {
			background-color: #ffffff;
			width: 100%;
			display: flex;
			justify-content: center;

			.form-holder {
				width: 100%;
				display: flex;
				justify-content: center;
				padding-top: 50px;
				padding-bottom: 50px;

				@media (max-width: 992px) {
					max-width: 100%;
					padding: 20px;
				}

				.form-content {
					max-width: 600px;
					width: 100%;
					display: flex;

					.form-items {
						width: 100%;
					}

					.form-title {
						color: #000000;
						text-align: left;
						font-size: 24px;
						font-weight: 900;
						margin-bottom: 30px;
					}

					.form-subtitle {
						font-size: 19px;
						font-weight: 300;
						color: #000000;
						margin-bottom: 16px;
					}

					input,
					select {
						display: block;
						line-height: 1.5;
						background-clip: padding-box;
						width: 100%;
						padding: 9px 20px;
						text-align: left;
						outline: 0;
						border-radius: 6px;
						font-size: 15px;
						font-weight: 300;
						-webkit-transition: all 0.3s ease;
						transition: background-color 0.3s ease;
						margin-bottom: 14px;
						border: 0;
						color: #000000;
						height: auto;
						border: 1px solid #f7f7f7;
						background-color: #f7f7f7;

						&:hover,
						&:focus {
							background-color: #fff;
							border: 1px solid #0093ff;
						}
					}

					select {
						-moz-appearance: none;
						-webkit-appearance: none;
						appearance: none;
						background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23CCCCCC%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
						background-repeat: no-repeat, repeat;
						background-position: right 0.7em top 50%, 0 0;
						background-size: .65em auto, 100%; 
					}

					.dropdown {
						width: 100%;
						margin-bottom: 14px;

						button {
							padding: 9px 20px;
							border: 1px solid #f7f7f7;
							background-color: #f7f7f7;

							&:hover,
							&:focus {
								background-color: #fff;
								border: 1px solid #0093ff;
								outline: none !important;
							}
						}
					}

					.form-button {
						text-align: center;
						margin-bottom: 20px;

						button {
							border-radius: 6px;
							border: 0;
							padding: 6px 28px;
							background-color: #fff;
							color: #29a4ff;
							font-size: 14px;
							font-weight: 700;
							text-decoration: none;
							cursor: pointer;
							margin-right: 10px;
							outline: none;
							-webkit-transition: box-shadow 0.3s ease;
							transition: box-shadow 0.3s ease;
							-webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0.16);
							box-shadow: 0 0 0 rgba(0, 0, 0, 0.16);
							background-color: #44c97d;
							color: #fff;
							-webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0.16);
							box-shadow: 0 0 0 rgba(0, 0, 0, 0.16);
							margin-right: 0;

							&:hover,
							&:focus {
								-webkit-box-shadow: 0 5px 6px rgba(68, 201, 126, 0.38);
								box-shadow: 0 5px 6px rgba(68, 201, 126, 0.38);
							}

							&[disabled] {
								cursor: wait;

								&::after {
									content: "";
									width: 15px;
									height: 15px;
									display: inline-block;
									border: 2px solid rgba($color: #ffffff, $alpha: 0.2);
									border-radius: 50%;
									border-top-color: #ffffff;
									-webkit-animation: loader 0.6s linear;
									animation: loader 0.6s linear;
									-webkit-animation-iteration-count: infinite;
									animation-iteration-count: infinite;
									vertical-align: top;
									margin-top: 3px;
									margin-left: 5px;
									margin-right: -10px;
								}
							}
						}

						p {
							margin-top: 10px;
						}
					}
				}
			}
		}

		@import "../protect/register/steps";
		@import "../protect/register/steps-content";
		@import "../protect/register/card";
		@import "../protect/register/order-summary";
	}
}
